<li class={{class}}>
    <div class="container">
        <h4 class="title">{{title}}</h4>
                <p class="time">{{time}}</p>
    </div>
    <div class="container">
        <p class="message">{{message}}</p>
        <p class="user">{{user}}</p>
    </div>
</li>