<main class="{{ styles.login }}">
    <form class="{{styles.form}}">
        <h4 class="{{ styles.title }}">Вход</h4>
        {{{login}}}
        {{{password}}}
        {{{button}}}
        {{{link}}}
    </form>
</main>