<main class="{{ styles.register }}">
    <form class="{{ styles.form }}">
        <h4 class="{{ styles.title }}">Регистрация</h4>
        {{{firstName}}}
        {{{secondName}}}
        {{{email}}}
        {{{login}}}
        {{{phone}}}
        {{{password}}}
        {{{button}}}
        {{{link}}}
    </form>
</main>